<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        {% endblock %}
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        {# CSS code #}
        <style>
            body{
                background-color: #E0FEFE;
            }

            .container{
                position: relative;
                border: 1px solid transparent;
                border-radius: 15px;
                width: 80%;
                margin: auto;
                margin-top: 50px;
                background-color: #e9e9e4;
            }

            .numbercontainer{
                position: relative;
                margin: auto;
                text-align: center;
            }

            #numbers{
                font-size: 3em;
                text-align: center;
            }

            #sendinput{
                display: block;
                color: black;
                text-align: center;
            }

            #stop{
                width: 90%;
                display: none;
                position: relative;
                background-color: red;
                margin: auto;
                margin-bottom: 20px;
                margin-top: 40px;
            }

            .timescontainer{
                max-height: 30em !important;
                width: 80%;
                position: relative;
                margin: auto;
                margin-top: 20px;
                overflow-y: auto !important;

            }

            .timesdiv{
                position: relative;
                background-color: white;
                border: 1px solid black;
                border-radius: 15px;
                margin: auto;
                width: 60%;
                margin-top: 10px;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .totaltimespent{
                font-weight: bold;
                font-size: 1.5em;
                text-align: center;
            }
        </style>

        {#  ENDOF css #}
        {% block body %} 
        
        <div class="container">
            <div class="numbercontainer" id="numbercontainer">
                <p id="taskname"> Task Name </p>
                <span id="numbers"> <span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span> </span>
            </div>
            <div class="input-field col s1" id="sendinput">
                <input placeholder="Task Name" required id="task_name_form" type="text" class="validate" style="width: 55%; margin-right: 5%; margin-left: 5%">
                <button disabled class="btn waves-effect waves-light" type="submit" name="action" id="startbutton" onclick>Start
                    <i class="material-icons right">send</i>
                </button>
            </div>

            {# This form is triggered when we click STOP. It sends a stop petition to the server. #}
            <form method="post">
                <div>
                    <input id="sendtaskname" name="name" type="text" style="display: none">
                    <button class="btn waves-effect waves-light" type="submit" name="action" id="stop">STOP
                        <i class="material-icons right">stop</i>
                    </button>
                </div>
            </form>
        </div> 
        {# total time spent. #}
        <div>
            <p class="totaltimespent"> Time Spent Today: {{ totaltime|date('H:i:s') }}</p>
        </div>
        {# For each time tracker row in the DB, create a little visualizer #}
        <div class="timescontainer">
            {% for time in times %}
                <div class="timesdiv">
                    <p> <b> Task Name: </b> {{ time.getName }}</p>
                    <p> <b> Time Spent: </b> {{ time.getTime|date('H:i:s') }} </p>
                </div>
            {% endfor %}
        </div>
        
        {% endblock %}
        {% block javascripts %}
        
        <script>

            document.getElementById("task_name_form").addEventListener('keyup', (event) => {
                if(document.getElementById("task_name_form").value != ""){
                    document.getElementById("startbutton").disabled = false;
                } else {
                    document.getElementById("startbutton").disabled = true;
                }
            });
       


            {# Event listener for the click function. We fill with info the front, send a start petition, then start the timer. #}
            document.getElementById("startbutton").addEventListener("click", function(){ 
            // fill the front.
            document.getElementById("taskname").innerText = document.getElementById("task_name_form").value;
            document.getElementById("sendinput").style.display = "none";
            document.getElementById("stop").style.display = "block";
            document.getElementById("sendtaskname").value = document.getElementById("taskname").innerText;
            // petition is sent here
            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/start", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send("name="+document.getElementById("taskname").innerText);
            // start the timer.
            startTimer();
        }); 
        {# ENDOF event listener #}
        var hours =0;
        var mins =0;
        var seconds =0;
        {# JQUERY / JS Timer. #}
        function startTimer(){
            timex = setTimeout(function(){
                seconds++;
                if(seconds >59)
                    {
                    seconds=0;mins++;
                    if(mins>59) {
                        mins=0;hours++;
                            if(hours <10) {
                                $("#hours").text('0'+hours)
                                } else 
                                $("#hours").text(hours);
                        }

                        if(mins<10){                     
                        $("#minutes").text('0'+mins);
                        } else $("#minutes").text(mins);
                    }    
                if(seconds <10) {
                    $("#seconds").text('0'+seconds);} else {
                    $("#seconds").text(seconds);
                }
                startTimer();
                },1000);
        }
        {# ENDOF timer #}
        </script>

        {% endblock %}
    </body>
</html>
